{% extends "base.html" %}

{% block body %}
  {% include "navbar.html" %}
{% endblock %}

{% block content %}
  <h1>Edit Question</h1>
  <form method="post" action="" class="form" style="max-width: 500px; margin-bottom: 30px">{% csrf_token %}
    <div class="form-group">
      {{ form.question_type.label_tag }}
      {{ form.question_type }}
    </div>
    <div class="form-group">
      {{ form.subject.label_tag }}
      {{ form.subject }}
    </div>
    <div class="form-group">
      {{ form.question_format.label_tag }}
      {{ form.question_format }}
    </div>
    <div class="form-group">
      {{ form.question.label_tag }}
      {{ form.question }}
    </div>
    <div class="form-group">
      {{ form.answer.label_tag }}
      {{ form.answer }}
    </div>
    <div class="form-group">
      {{ form.difficulty.label_tag }}
      {{ form.difficulty }} <span style="font-size:0.7em">(Introductory is first year high school, intermediate is second year or AP, advanced is anything harder.)</span>
    </div>
    <div class="form-group">
      {{ form.citation.label_tag }}
      {{ form.citation }}
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="Save">
  </form>
{% endblock %}
