{% extends "base.html" %}

{% block body %}
  {% include "navbar.html" %}
{% endblock %}

{% block content %}
  <h2>Edit Question</h2>
  <form method="post" action="">{% csrf_token %}
    {{ form.question_type.label_tag }} &nbsp;
    <label class="select">{{ form.question_type }}</label> <br>
    {{ form.subject.label_tag }} &nbsp;
    <label class="select">{{ form.subject }}</label> <br>
    {{ form.question_format.label_tag }} &nbsp;
    <label class="select">{{ form.question_format }}</label> <br>
    {{ form.question.label_tag }} <br>
    {{ form.question }} <br>
    {{ form.answer.label_tag }} &nbsp;
    {{ form.answer }} <br>
    {{ form.difficulty.label_tag }} &nbsp;
    <label class="select">{{ form.difficulty }}</label> <span style="font-size:0.7em">(Introductory is first year high school, intermediate is second year or AP, advanced is anything harder.)</span> <br>
    {{ form.citation.label_tag }} &nbsp;
    {{ form.citation }} <br>
    <input type="submit" value="Save">
  </form>
{% endblock %}

