{% extends "base.html" %}

{% block body %}
  {% include "navbar.html" %}
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>This is PEA Scibowl's Question Database. The goal of this website is to collect rounds of student-written questions. Contribute, because writing questions is a great way for you to consolidate new knowledge.</p>
      <p>For questions, suggestions or complaints, please contact one of the coheads.<p>
      <p><a href="/qdb/add_question" class="btn btn-primary btn-lg">Add a question!</a></p>
    </div>
  </div>
{% endblock %}
