{% extends "base.html" %}

{% block body %}
  {% include "navbar.html" %}
{% endblock %}

{% block content %}
  <h2>New Questions</h2>
  <form method="post" action="">{% csrf_token %}
    {{ form.subject.label_tag }} &nbsp; <label class="select">{{ form.subject }}</label>
  </form>
  <ul>
    <table id="q_list" style="table-layout: fixed;">
      <col width="150px" />
      <col width="100px" />
      <col width="100px" />
      <col width="600px" />
      <tr>
        <th>Question ID</th>
        <th>Difficulty</th>
        <th>Type</th>
        <th>Question</th>
      </tr>
      {% for question in questions %}
        <tr class="{{question.subject}}">
          <td id="q_table" valign="top">{{ question.id }}</td>
          <td id="q_table" valign="top" align="center">{{ question.get_difficulty_display }}</td>
          <td id="q_table" valign="top" align="center">{{ question.question_type }}</td>
          <td id="q_table" valign="top">
            {{ question.subject }} <i>{{ question.question_format }}</i>
            <div style="display: inline; white-space: pre-wrap;">{{ question.question }}</div> <span style="float: right; font-size: 0.8em;">Written by {{ question.author.first_name }} {{ question.author.last_name }}.</span> </td>
        </tr>
      {% endfor %}
    </table>
  </ul>
  <script>
    function filter() {
      var sel = document.getElementById("id_subject");
      var target = sel.options[sel.selectedIndex].text;
      var t = document.getElementById("q_list");

      for (var i = 1; i < t.rows.length; i++) {
        if (t.rows[i].className === target || target === "---------") t.rows[i].style.display="table-row";
        else t.rows[i].style.display="none";
      }
    }
  </script>
{% endblock %}
