{% extends "base.html" %}

{% block body %}
  {% include "navbar.html" %}
{% endblock %}

{% block content %}
  <style>
    .el {
      position: relative;
      margin-left: 65px;
    }
    .res {
      position: absolute;
      top: -6px;
      left: -100px;
      display: inline-block;
    }
    .sc, .pen {
      padding-bottom: 0px;
      min-width: 0px;
      width: 30px; 
    }
    div.pt {
      margin: 5px;
      min-width: 60px;
      display: inline-block;
    }
    h3.pt {
      margin-top: 12px;
    }
    .btn-purple {
      background-color: #82546F;
      border-color: #82546F;
      color: #FFF;
    }
    .btn-purple:hover,
    .btn-purple:focus,
    .btn-purple:active,
    .btn-purple.active {
      background-color: #734a62;
      border-color: #634055;
      color: #FFF;
    }
  </style>
  <div id="team" class="btn-group">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        P
      </button>
      <ul class="dropdown-menu pen">
        <li style="background-color: white" class="sel white">&nbsp;</li>
        <li style="background-color: #D2322D" class="sel red">&nbsp;</li>
        <li style="background-color: #3276B1" class="sel blue">&nbsp;</li>
        <li style="background-color: #82546F" class="sel purple">&nbsp;</li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu sc">
        <li style="background-color: white" class="sel white">&nbsp;</li>
        <li style="background-color: #D2322D" class="sel red">&nbsp;</li>
        <li style="background-color: #3276B1" class="sel blue">&nbsp;</li>
      </ul>
    </div>
  </div>
  <script> 
    function calc(){
      var sc = [0, 0, 0];
      $( ".sc" ).each(function(){
        var val = 4;
        if($( this ).parent().parent().parent().parent().hasClass("Bonus")) val = 10;
        sc[$( this ).data("team")] += val;
      });
      $( ".pen" ).each(function(){
        var val = 4;
        if($( this ).parent().parent().parent().parent().hasClass("Bonus")) val = 10;
        var t = $( this ).data("team");
        if(t == 1 || t == 2) sc[t] += val;
        if(t == 3){
          sc[1] += val;
          sc[2] += val;
        }
      });
      $( "#rp" ).html(sc[1]);
      $( "#bp" ).html(sc[2]);
    }
    $( document ).ready(function() {
      $( ".res" ).append( $( "#team" ) );
      $( ".sc" ).data("team", 0);
      $( ".sel" ).click(function() {
        var btn = $( this ).parent().parent().find(".btn");
        if($( this ).hasClass("white")){
          $( this ).parent().data("team", 0);
          btn.removeClass("btn-primary");
          btn.removeClass("btn-danger");
          btn.removeClass("btn-purple");
        } else if($( this ).hasClass("red")){
          $( this ).parent().data("team", 1);
          btn.removeClass("btn-primary");
          btn.addClass("btn-danger");
          btn.removeClass("btn-purple");
        } else if($( this ).hasClass("blue")){
          $( this ).parent().data("team", 2);
          btn.removeClass("btn-danger");
          btn.addClass("btn-primary");
          btn.removeClass("btn-purple");
        } else {
          $( this ).parent().data("team", 3);
          btn.removeClass("btn-danger");
          btn.removeClass("btn-primary");
          btn.addClass("btn-purple");
        }
        calc();
      });
    });
  </script> 

  <div class="page-header"><h1>{{ round.name }}</h1></div>
  <br>
  <ol>
    {% for question in round.question_set.all|dictsort:"index" %}
      <center><strong style="text-transform: uppercase;">
          {{ question.question_type }}
      </strong></center> <br>
      <li class="el {{ question.question_type }}"><div class="res"></div>
        {{ question.subject }} <i>{{ question.question_format }}</i>
        <div style="display: inline; white-space: pre-wrap;">{{ question.question }}</div> <span style="float: right; font-size: 0.8em;">Written by {{ question.author.first_name }} {{ question.author.last_name }}.</span> <br> <br>
        ANSWER: {{ question.answer }}<br>
      </li>
      <br> <br>
    {% endfor %}
  </ol>
{% endblock %}

{% block footer %}
  <div id="footer">
    <div class="container">
      <button id="tossup" class="btn" style="margin-top: 12px; width: 75px;">
        Toss up
      </button>
      <button id="bonus" class="btn" style="margin-top: 12px; width: 75px;">
        Bonus
      </button>
      <h3 class="pt pull-right"><div id="rp" class="label label-danger pt">0</div></h3>
      <h3 class="pt pull-right"><div id="bp" class="label label-primary pt">0</div></h3>
    </div>
  </div>
  <script> 
    var t_instance = 0, b_instance = 0;
    function t_go(t, inst){
      if(t_instance == inst){
        if(t > 0){
          $( "#tossup" ).text(t);
          $( "#tossup" ).removeClass("btn-danger")
          setTimeout(function(){t_go(t-1, inst)}, 1000);
        } else {
          $( "#tossup" ).text("TIME");
          $( "#tossup" ).addClass("btn-danger")
          setTimeout(function(){
            if(t_instance == inst){
              $( "#tossup" ).text("Toss up")
              $( "#tossup" ).removeClass("btn-danger")
            }
          }, 2000);
        }
      }
    }
    function b_go(t, inst){
      if(b_instance == inst){
        if(t > 0){
          $( "#bonus" ).text(t);
          setTimeout(function(){b_go(t-1, inst)}, 1000);
          $( "#bonus" ).removeClass("btn-danger")
          if(t <= 5){
            $( "#bonus" ).addClass("btn-warning");
          } else {
            $( "#bonus" ).removeClass("btn-warning")
          }
        } else {
          $( "#bonus" ).text("TIME");
          $( "#bonus" ).removeClass("btn-warning")
          $( "#bonus" ).addClass("btn-danger")
          setTimeout(function(){
            if(b_instance == inst){
              $( "#bonus" ).text("Bonus")
              $( "#bonus" ).removeClass("btn-danger")
            }
          }, 2000);
        }
      }
    }
    $( "#tossup" ).click(function() {
      t_instance++;
      t_go(5, t_instance);
    });
    $( "#bonus" ).click(function() {
      b_instance++;
      b_go(20, b_instance);
    });
  </script> 
{% endblock %}

