{% extends "base.html" %}

{% block body %}
  {% include "navbar.html" %}
{% endblock %}

{% block content %}
  <h2>{{ round.name }}</h2>

  {% if user.is_staff %}
    <!-- temporarily make rounds only editable by staff -->
    <form method="post" action="">{% csrf_token %}
      <b>Question ID</b> &nbsp; {{ form.question_id }}
      <input type="submit" value="Add">
    </form>
  {% endif %}

  <br>
  <ol>
    {% for question in round.question_set.all|dictsort:"index" %}
      <center><strong style="text-transform: uppercase;">
          {{ question.question_type }}
      </strong></center> <br>
      <li>
        {{ question.subject }} <i>{{ question.question_format }}</i>
        <div style="display: inline; white-space: pre-wrap;">{{ question.question }}</div> <span style="float: right; font-size: 0.8em;">Written by {{ question.author.first_name }} {{ question.author.last_name }}.</span> <br> <br>
        ANSWER: {{ question.answer }}<br>
      </li>
      <br> <br>
    {% endfor %}
  </ol>
{% endblock %}

