{% extends "base.html" %}

{% block content %}
  {% include "navbar.html" %}
  {% for message in status %}
    {{ message }}
  {% endfor %}
  <h2>{{ round.name }}</h2>

  <form method="post" action="">{% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>

<!--indentation broken for verbatim display of questions-->
  <ol>
    {% for question in round.question_set.all|dictsort:"index" %}
<li style="white-space: pre-wrap;">{{ question.question_type }}
{{ question.subject }} {{ question.question_format }}
{{ question.question }}
Answer: {{ question.answer }}</li>
      <br>
    {% endfor %}
  </ol>
{% endblock %}

