<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>PEA Scibowl Question Database</title>
    <link rel="stylesheet" type="text/css" href="/static/base.css">
    <!--
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>-->
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <a href="/qdb/" id="header_link"><h1>PEA Scibowl <br>
        Question Database</h1></a>
    {% block body %}
    {% endblock %}
    <div id="content">
      <div id="wrapper">
        {% for message in status %}
          {{ message }}
        {% endfor %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
